// imports
@import 'normalize.scss';
@import 'variables';
@import 'mixins';
// fonts
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700&display=swap');
// components
@import 'Components/Header.scss';
@import 'Components/CreateBtn.scss';
@import 'Components/UploadBtn.scss';
@import 'Components/SpaceLeftBlock.scss';
@import 'Components/Asidebar.scss';
@import 'Components/UploadFileBlock.scss';
@import 'Components/FilesList.scss';
@import 'Components/FileCard.scss';
// pages
@import 'Pages/HomeLayout.scss';
// layouts
@import 'Layouts/PageLayout.scss';


// base
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.app-logo {
    width: 15rem;
}