// imports
@import 'normalize.scss';
@import 'variables';
@import 'mixins';
// fonts
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700&display=swap');
// components
@import 'Components/Header.scss';
@import 'Components/CreateBtn.scss';
@import 'Components/UploadBtn.scss';
@import 'Components/CloseBtn.scss';
@import 'Components/SpaceLeftBlock.scss';
@import 'Components/Asidebar.scss';
@import 'Components/UploadFileBlock.scss';
@import 'Components/UploadFilesWindow.scss';
@import 'Components/FilesList.scss';
@import 'Components/FileCard.scss';
@import 'Components/Profile.scss';
@import 'Components/FileResult.scss';
@import 'Components/Search.scss';
// pages
@import 'Pages/HomePage.scss';
@import 'Pages/FilePage.scss';
// layouts
@import 'Layouts/PageLayout.scss';
@import 'Layouts/RClickWindowLayout.scss';
@import 'Layouts/WindowLayout.scss';
@import 'Layouts/ConfirmWindowLayout.scss';


// base
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-size: var(--fontSize1);
}

h2 {
    font-size: var(--fontSize2);
}

h3 {
    font-size: var(--fontSize3);
}

h3 {
    font-size: var(--fontSize4);
}

h5 {
    font-size: var(--fontSize5);
}

.app-logo {
    width: 15rem;
}

.no-link {
    cursor: default;
    pointer-events: none;
}