main {
    display: flex;
    flex-direction: column;
    .file-info {
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__name,
        &__size {
            font-weight: 400;
        }

        &__bg {
            position: relative;
            line-height: 0px;
            
            video.bg__content,
            img.bg__content {
                width: inherit;
                height: inherit;
                max-width: 100%;
                max-height: 45vh;
                object-position: center;
                object-fit: cover;
                box-shadow: 0rem 0 2rem var(--colorTextDark);
            }
            svg.bg__content {
                font-size: var(--fontSize0);
                color: var(--colorTextDark);
                background: inherit;
            }
        }
    }

    .main-btns {
        &__btn {
            &.download-btn {
                background: var(--colorMain);
                color: var(--colorText);
            }

            &.share-btn {
                background: var(--colorAccent);
                color: var(--colorBlack);
            }
        }
    }

    .file-controll-btns {
        &__btn {
            background: var(--colorGray);
            color: var(--colorBlack);
        }
    }

    .main-btns,
    .file-controll-btns {
        margin: 0 auto;
        width: min(100%, 35rem);;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;

        button, a {
            width: 100%;
            @include btn;
        }
    }
}