aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 20rem;
    height: 100%;
    padding: 2rem 2rem;

    .upload-btn,
    .create-btn {
        width: 100%;
    }

    .space-left {
        margin-top: auto;
    }
}