.auth-header {
    $padding: 1rem 3rem;
    
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
    transition: var(--transitionDefault);
    padding: $padding;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}