.file-card {
    position: relative;
    height: clamp(16rem, 20vh, 17.5rem);
    background: var(--colorGray);
    transition: all var(--transitionDefault), transform 0ms, top 0ms, left 0 ms;
    border-radius: var(--bdrsDefault);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    &__bg {
        flex-shrink: 0;
        position: relative;
        background: var(--colorText);
        border-radius: var(--bdrsDefault);
        width: inherit;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        video.bg__content,
        img.bg__content {
            width: 100%;
            height: 100%;
            border-radius: var(--bdrsDefault);
            object-fit: cover;
            object-position: center;
        }

        svg.bg__content {
            font-size: 4rem;
            color: var(--colorTextDark);
        }
    }

    &__info {
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem 1rem;
        
        .info__share-status {
            background-image: linear-gradient(
                90deg, var(--colorMain) 0%, var(--colorAccent) 50%
            );
            background-clip: text;
            color: transparent;
        }
        .info__name,
        .info__size {
            font-weight: 400;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            color: var(--colorBlack);
        }
    }
}