.files-list {
    $fileCardWidth: clamp(12rem, 15vw, 12.5rem);
    $fileCardHeight: clamp(16rem, 20vh, 17.5rem);
    @include fileCardList;
    
    position: relative;

    .file-card {
        order: var(--fileOrder, auto);
        z-index: 0;

        &.react-draggable-dragging {
            position: absolute;
            z-index: 999;
            pointer-events: none;
            user-select:none;
        }

        &.dragged + .file-card {
            order: calc(var(--fileOrder) - 1);
        }
    }

    .order-card {
        width: clamp(12rem, 15vw, 12.5rem);
        height: clamp(16rem, 20vh, 17.5rem);
        flex-shrink: 0;
        border-radius: var(--bdrsDefault);
        flex-shrink: 0;
        background: var(--colorTextDark);
        border: 2px solid var(--colorMain);
        order: calc(var(--fileOrder));

        &:not([style*="--fileOrder"]) {
            display: none;
        }
    }
}