.file-result {
    $colorBg: var(--colorGray);

    position: relative;
    background: $colorBg;
    padding: .75rem 1.5rem;

    
    a {
        text-decoration: none;
        position: relative;
        display: flex;
        color: var(--colorBlack);
        align-items: center;
        gap: 1rem;
    }

    &__bg {
        $size: 3.5rem;

        position: relative;
        flex-shrink: 0;
        display: grid;
        place-content: center;
        width: $size;
        height: $size;
        overflow: hidden;

        img.bg__content {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid $colorBg;
            object-fit: cover;
            object-position: center;
        }

        video.bg__content {
            display: none;
        }

        svg.bg__content {
            font-size: var(--fontSize3);
        }
    }

    &__info {
        flex-grow: 1;

        .info__name,
        .info__size {
            font-weight: 400;
        }
    }
}