.files-list {
    @include clearedUl;

    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 12.5rem));
    grid-auto-rows: minmax(16rem, 17.5rem);
    gap: 1rem;
}