header {
    $padding: 1rem 3rem;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0; left: 0;
    z-index: 9999;
    transition: var(--transitionDefault);
    height: var(--heightHeader);

    &.nav-hidden {
        --heightHeader: var(--heightHeaderMain);
        
        .main-nav {
            user-select: none;
            pointer-events: none;
            transform: translateY(-100%);
        }

        & ~ aside {
            --heightHeader: var(--heightHeaderMain);
        }
    }

    

    .main-part {
        position: relative;
        height: var(--heightHeaderMain);
        flex-shrink: 0;
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: $padding;
        z-index: 0;
        background: var(--colorBg);

        .app-logo-link {
            margin-right: auto;
        }

        .more-space-btn {
            @include btn;
            background: var(--colorAccent);
            margin-left: auto;
        }

        &__btn-toggle {
            background: none;
            padding: 0;
            outline: none;
            border: none;
            font-size: 2rem;
            color: var(--colorTextDark);
            cursor: pointer;
        }
    }

    .main-nav {
        position: absolute;
        top: var(--heightHeaderMain);
        height: var(--heightHeaderNav);
        border-top: 2px solid var(--colorTextDark);
        width: 100%;
        padding: $padding;
        z-index: -1;
        transition: var(--transitionDefault);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        background: var(--colorBg);
        transition-delay: height var(--transitionDefault);

        .links {
            @include clearedUl;
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
                @include clearedA;
                color: var(--colorTextDark);
                font-size: var(--fontSize3);
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}