.profile-window {
    position: relative;
    background: var(--colorText);
    border-radius: var(--bdrsDefault);
    width: min(90vw, 1000px);
    height: min(90vh, 800px);
    display: flex;
    overflow: hidden;

    &__nav {
        min-width: 12.5rem;
        position: relative;
        background: var(--colorGray);
        overflow: hidden;

        ul {
            @include clearedUl;
            
            width: 100%;
            display: flex;
            flex-direction: column;

            li {
                width: 100%;

                .nav__link {
                    @include clearedButton;
    
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5rem;
                    padding: .75rem 1.5rem;
                    color: var(--colorTextDark);
                    font-size: var(--fontSize3);
                    transition: var(--transitionDefault);
                    text-decoration: none;
    
                    &:disabled {
                        background: var(--colorMain);
                        color: var(--colorText);
                    }

                    &:not(:disabled) {
                        &:hover,
                        &:focus-within {
                            background: var(--colorTextDark);
                            color: var(--colorGray);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    &__content {
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        overflow-y: auto;

        &.content-main {
            .content__user-info {
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                .user-info__picture {
                    background-color: var(--colorMain);
                    width: max(12.5rem, 40%);
                    flex-shrink: 0;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 2px solid var(--colorText);
                }

                .user-info__main {
                    position: relative;
                    flex: 1;

                    .main__email {
                        font-weight: 600;
                        font-size: clamp(1.4rem, 2vw, 2.5rem);
                    }

                    .main__info-blocks {
                        margin-top: 1rem;
                        width: 100%;
                        gap: 1rem;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        .info-blocks__block {
                            min-width: 7rem;
                            flex: 1 1 0px;
                            border-radius: var(--bdrsDefault);
                            background: var(--colorGray);
                            padding: .75rem 1.25rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .block__name {
                                font-weight: 500;
                                white-space: nowrap;
                            }
                            
                            .block__count {
                                font-weight: 300;
                                color: var(--colorMain);
                                white-space: nowrap;
                                flex-grow: 1;
                                display: grid;
                                place-content: center;
                            }
                        }
                    }
                }
            }
            
            .content__most-popular-files {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                .most-popular-files__heading {
                    font-weight: 300;
                    text-align: center;
                }

                .most-popular-files__files-list {
                    @include fileCardList;
                    justify-content: center;
                }
            }
        }

        &.content-settings {
            overflow-x: hidden;

            .content__picture {
                width: 40%;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 2px solid var(--colorText);
                background-color: var(--colorMain);
            }

            .content__input {
                width: min(100%, 30rem);
            }

            .content__passwords {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                gap: 1rem;

                .passwords__input {
                    flex: 1;
                }
            }

            .content__save-btn {
                @include btn;

                margin-top: auto;
                color: var(--colorText);
                background: var(--colorMain);

            }
        }
    }
}