.upload-container {
    width: 100%;

    &.active .upload-file-block {
        background: var(--colorTextDark);
        color: var(--colorText);
    }

    .upload-file-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 12.5rem;
        background: var(--colorGray);
        border: 2px solid var(--colorMain);
        border-radius: var(--bdrsDefault);
        cursor: pointer;
        transition: var(--transitionDefault);
        padding: 1rem;
        
        * {
            pointer-events: none;
        }
    
        &__text {
            text-align: center;
            font-weight: 400;
        }
    
        &__icon {
            font-size: var(--fontSize1);
            color: var(--colorMain);
        }
    }

    input {
        display: none;
    }
}