.auth-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    main {
        position: relative;
        flex-grow: 1;
        width: 100vw;
        padding: 2rem;
        display: grid;
        place-items: center;

        .auth-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: min(100%, 40rem);
            gap: 1.5rem;

            &__picture {
                width: min(100%, 15rem);
                img {
                    background: blue;
                }
            }

            &__passwords {
                width: 100%;
                display: flex;
                gap: 1rem;
                align-items: center;
            }

            button {
                @include btn;

                color: var(--colorText);
                background: var(--colorMain);
            }

            &__link {
                @include clearedA;
                color: var(--colorMain);
                font-size: var(--fontSize4);
            }
        }
    }
}