.auth-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    main {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem;

        .top-text-input {
            width: min(100%, 40rem);
        }

        button {
            @include btn;

            color: var(--colorText);
            background: var(--colorMain);
        }
    }
}