.page {
    display: grid;
    grid-template-areas: 'H H H H H H'
                         'A A M M M M';
    position: relative;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto auto 1fr;

    // @media screen and (max-width: 790px) {
    //     grid-template-areas: 'H H H H H H'
    //                      'M M M M M M'
    //                      'A A A A A A';
    // }
    
    header {
        grid-area: H;
    }

    aside {
        grid-area: A;
    }
    
    main {
        padding: 2rem 2rem;
        grid-area: M;
        transition: var(--transitionDefault);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}