.rclick-window {
    @include colorMainBorder;

    position: fixed;
    top: 0;
    left: 0;
    background: var(--colorGray);
    border-radius: var(--bdrsDefault);
    z-index: 999999;
    padding: 1.5rem 1.25rem;
    overflow-y: auto;

    ul {
        @include clearedUl;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li {
            position: relative;
            width: 100%;

            button, a {
                @include btn;
                padding: 0;
                background: none;
                text-decoration: none;
                color: var(--colorTextDark);
                font-size: var(--fontSize4);
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
            }

            &:not(:last-child)::after {
                $marginLeft: 10px;
    
                content: '';
                position: absolute;
                top: calc(100% + .75rem);
                left: -5%;
                background: var(--colorBlack);
                height: 1px;
                width: 110%;
            }
        }
    }
}